{% extends "index.html" %}{% block head %}{{super()}}{% endblock %}
{% block content %}

<div class="hero-wrap" style="background-image: url('../static/images/Background_Images/CoronaReliefBG.png');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-7 ftco-animate text-center">
        <!-- <p class="breadcrumbs"></p> -->
        <h1 class="mb-3 bread font-text title">Corona-Virus Relief</h1>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section" style="background-color: beige;">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-7 ftco-animate">
        <h2 class="mb-6 font-text gupter-medium"><center>FROM THE FRONTLINE</center></h2><br><br>
        <p class="gupter-regular">We have been working tirelessly on the forefront to not only spread information about the Covid-19 pandemic to the innermost areas of the country but are also engaged in Mumbai and Nagpur to fight the virus with the necessary essentials since 2020.
          <br><br>
          We urge all our supporters to donate to our ongoing fundraisers to ensure we can continue our relief efforts.
        </p><br>
        <div class="text-center mt-4">
          <a href="donate.html" class="btn btn-white py-2">Donate</a>
        </div>
      </div>
      <div class="col-md-5 ftco-animate">
        <div class="img img-about align-self-stretch" style="background-image: url(../static/images/cause-3.jpg); background-size: contain; background-position: center; background-repeat: no-repeat; height: 450px;"></div>
      </div>
    </div>
  </div>
</section>



<!-- <section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
      <div class="block-18 color-1 align-items-stretch">
        <div class="text">
          <span>Served Over</span>
          <strong class="number" data-number="24610">0</strong>
          <span>"Madhya Pradesh including rural tribals, children and self-help groups"</span>
        </div>
      </div>
    </div>
    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
      <div class="block-18 color-2 align-items-stretch">
        <div class="text">
          <h3 class="mb-4">Donate Money</h3>
          <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          <p><a href="#" class="btn btn-white px-3 py-2 mt-2">Donate Now</a></p>
        </div>
      </div>
    </div>
    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
      <div class="block-18 color-3 align-items-stretch">
        <div class="text">
          <h3 class="mb-4">Be a Volunteer</h3>
          <p>Even the all-powerful Pointing has no control about the blind texts.</p>
          <p><a href="#" class="btn btn-white px-3 py-2 mt-2">Be A Volunteer</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</section> -->

<section class="ftco-section" style="background-color:rgb(244, 170, 81)">
  <div class="container p-md-3" style="background-color:rgb(245, 224, 195)">
          <div id="splitCarousel" class="carousel slide" data-ride="carousel"> 
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefslide1.jpg" style="width:420px; height:380px;"alt="image 1">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">COOKED MEALS FOR MIGRANT WORKERS</h2>
                  <br>
                  <p class="gupter-regular">The nation-wide lockdown in India left thousands of migrant workers and labourers displaced without any transportation and food resources.<br>
                    <br>As of now, we have provided freshly cooked hot meals to more than 20,000 stranded migrants crossing the Madhya Pradesh border. started with distributing food packages to the 1500+ migrants crossing the Madhya Pradesh border.</p>
                    <br><br>
                    <div>
                      <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                    </div>
                </div>
              </div>
            </div>
           
            <!-- Slide 2-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefSlide2.jpg" style="width:420px; height:380px;" alt="Image 2">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">TRANSGENDER COMMUNITY</h2>
                  <br><br>
                  <p class="gupter-regular"> Stripped off any livelihood and with no employability due to social distancing, Mumbai's transgender community's survival has been under threat since the past 4 months.
                  <br><br>
                  We have provided them with more than 800 monthly ration kits, 2000 face masks, 3500 bottles of hand sanitizers, 2 oximeters and 2 infrared thermometers.                      
                  </p><br><br>
                <div>
                  <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                </div>
              </div>
              </div>
            </div>     

            <!-- Slide 3-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefSlide3.webp"style="width:420px; height:380px;" alt="Image 3">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">POLICE DEPARTMENT : MUMBAI & NAGPUR</h2>
                  <br>
                  <p class="gupter-regular">To ensure our country's frontline workers warriors have the neccesary resources to fight Covid-19, we have donated 20,000 face masks, 6000 face shields 20 pulse oximeters to the Mumbai Police Departments. 
                  <br><br>
                  Nagpur Police Department has been given 5000 cotton face masks, 3001 face shields and 5000 hand sanitizers. 
                  <br>
                  Seoni, Madhya Pradesh have been donated 35 hand sanitizer machines and 100ml sanitizer bottles.</p>
                  <div>
                    <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                  </div>
                </div>
              </div>
            </div>    
            
            <!-- Slide 4-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaVirusReliefGallery7.webp" style="width:420px; height:380px;" alt="Image 4">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">SANITARY & HYGIENE KIT</h2>
                  <br>
                  <p class="gupter-regular">Periods don't stop for a pandemic. Grocery stores in rural India face a shortage of period essentials, the threat of having an unsafe, unhygienic and undignified monthly experience is a threat for women and young girls. 
                    <br><br>
                    We have distributed more than 8,630 Hygiene Kits across multiple villages in Seoni District,
                    <br>
                    Madhya Pradesh.    
                  </p><br>
                  <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                </div>
              </div>
            </div>    

            <!-- Slide 5-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaVirusReliefGallery3.webp" style="width:420px; height:380px;" alt="Image 5">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">RATION KIT DISTRIBUTION</h2>
                  <br>
                    <p class="gupter-regular">The country, especially it's innermost areas are facing a dangerous shortage of supply of essential commodities, including food, soap, etc. ever since the lockdown. 
                    <br><br>
                    Till date, we have provided monthly ration kits for 1,800 families in Seoni District,<br> Madhya Pradesh over the span of four months. 
                    <br><br>
                    We have also transported 450 ration kits to Naxalite areas in Maharashtra through the Nagpur Police Department. 
                    </p>
                    <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                  </div>
              </div>
            </div>   
            
            <!-- Slide 6-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefSlide4.webp" style="width:420px; height: 380px;" alt="Image 6">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">GOVERNMENT HOSPITAL : MUMBAI </h2>
                  <br>
                   <p class="gupter-regular"> Through Smt. Kishori Pednekar (Mayor of Mumbai), we have donated 10,000 face masks,<br> 2000 face shields and 10 pulse oxymeters.
                    <br><br>
                    KEM Hospital (Mumbai) was donated 10,000 face masks, 2000 face shields and 10 oxymeters.
                    <br><br>
                    Cooper Hospital was given 200 PPE kits, 5000 face masks and 5 oxymeters
                  </p>
                  <br>
                    <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                  </div>
              </div>
            </div> 

            <!-- Slide 7-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefSlide12.webp" style="width:420px; height:380px;" alt="Image 7">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">PPE KITS FOR CREMATORIUM WORKERS </h2>
                    <br><br>
                    <p class="gupter-regular">Crematorium workers have been risking their lives while dealing with the funeral rites of the increasing number of people who are losing their lives to Covid-19.
                    <br><br>
                    Through Mumbai's municipal body BMC's K West Ward, 200 PPE Kits were distributed to Amboli and Oshiwara crematorium workers. 
                  </p><br><br>
                  <div>
                    <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                  </div>
                </div>
              </div>
            </div> 

            <!-- Slide 8-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefSlide6.webp" style="width:420px; height:382px;"alt="Image 8">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">FACE MASK PRODUCTION</h2>
                  <br>
                    <p class="gupter-regular">With the combined efforts of the Seoni District Collector, the innmates of Seoni Juvenile Correction Home have been employed to produce face masks especially needed in this time.
                    <br>
                    The innmates have themselves been provided with face masks and are working in small groups at a distance to prioritise their health.
                    <br>
                    More than 3000 masks have been produced in a span of one month. 600 masks have been donated to Seoni Nagarpalika. It is currently being distributed for free to the villages of Seoni district and other displaced individuals. 
                    </p>
                    <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                  
                </div>
              </div>
            </div> 


            <!-- Slide 9-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefSlide7.jpg" style="width:420px; height:380px;"alt="Image 9">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">SPREADING AWARENESS</h2>
                  <br><br>
                    <p class="gupter-regular">Awareness building programmes for the villagers of Seoni district, Madhya Pradesh were kicked off with a talk by a reputable gynecologist on Women's Day (8th March, 2020).
                    <br><br>
                    We have covered 30 villages and spoken about the pandemic, its risks and how to be equipped in our fight against it. There have been no tested cases. 
                  </p><br><br>
                    <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
                </div>
              </div>
            </div> 

            <!-- Slide 10-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-5">
                  <img src="../static/images/CoronaVirusRelief/CoronaReliefSlide8.jpg" style="width:420px; height:380px;"alt="Image 10">
                </div>
                <div class="col-md-7 carousel-text">
                  <h2 class="font-text gupter-medium">SEX WORKERS - MUMBAI</h2>
                   <p class="gupter-regular"> Sex workers and their families in Lesser-known red light areas like Sonapur, Ghatkopar West in Mumbai have been unable to gain access to government provisions in the midst of the lockdown. 
                    <br>
                    At the start of the festive season in our country, we were able to provide some relief by donating and distributing 50 ration kits with 2 face masks and 2 hand santizers to each family. 
                    <br>
                    The future seems bleak for such populations as they have been surviving without any sources of livelihood for the past 4 months. 
                    <br>
                    We thank Prerna Foundation for organising and facilitating this donation drive.<br>
                  </p>
                  <a href="./donate.html" class="btn btn-primary mt-3">Donate</a>
              </div>
              </div>
            </div> 
          </div>

          <!-- Left right -->
          
        </div>
        <div>
          <a class="carousel-control-prev" href="#splitCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#splitCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> 
    </div>
</section>
{% endblock %}