{% extends "index.html" %}{% block head %}{{super()}}{% endblock %}
{% block content %}

<div class="hero-wrap" style="background-image: url('../static/images/image_6pre.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
         <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Event</span></p> -->
        <h1 class="mb-3 bread font-text title" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Media & Press</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
<div class="container-fluid">
<div class="row justify-content-center mb-5 pb-3">
  <!-- <div class="col-md-5 heading-section ftco-animate text-center">
    <h2 class="mb-4">Our Causes</h2>
    <p>United in purpose, driven by compassion, we pave the path for a brighter tomorrow, one step at a time.</p>
  </div> -->
</div>
<div class="row">
  <div class="col-md-12 ftco-animate">
    <div class="carousel-cause owl-carousel">
      <!-- 1 -->
      <div class="item">
        <div class="cause-entry">
          <a href="https://www.jagran.com/news/national-dying-art-are-being-tried-to-make-alive-by-pottery-fest-16069945.html" class="img" style="background-image: url(../static/images/Media/th.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="https://www.jagran.com/news/national-dying-art-are-being-tried-to-make-alive-by-pottery-fest-16069945.html">May 22, 2017</a></h3>
            <p>Dying Arts Being Revived by Pottery Festival in MP </p>
          </div>
        </div>
      </div>
      
      <!-- 2 -->
      <div class="item">
        <div class="cause-entry">
          <a href="https://timesofindia.indiatimes.com/city/nagpur/Ex-banker-striving-to-change-fortunes-of-MP-Pench-village/articleshow/53642800.cms" class="img" style="background-image: url(../static/images/Media/toi.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="https://timesofindia.indiatimes.com/city/nagpur/Ex-banker-striving-to-change-fortunes-of-MP-Pench-village/articleshow/53642800.cms">August 11, 2016</a></h3>
            <p>Ex-Banker Striving To Change Fortunes of MP Pench Village</p>
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="item">
        <div class="cause-entry">
          <a href="https://thebetterindia.com/80185/sanjay-nagar-kohka-foundation-banker-underprivileged-children-madhya-pradesh" class="img" style="background-image: url(../static/images/Media/tbi.jpg);"></a>
          <div class="text p-3 p-md-4">
            <h3><a href="https://thebetterindia.com/80185/sanjay-nagar-kohka-foundation-banker-underprivileged-children-madhya-pradesh">December 29, 2016</a></h3>
            <p>This Former Banker Quit His Job to Educate Underprivileged Children in Madhya Pradesh Villages</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
</section>

<section class="ftco-section ftco-gallery">
  <div class="container">
     <h2 class="mb-4 font-text gupter-medium" style="text-align: center;">OTHER PRESS CLIPPINGS</h2>
     <div class="d-md-flex">
      <a href="../static/images/Newspaper_Cuttings/FirstClip.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/FirstClip.jpg);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
      <a href="../static/images/Newspaper_Cuttings/SecondClip.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/SecondClip.jpg);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
      <a href="../static/images/Newspaper_Cuttings/ThirdClip.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/ThirdClip.jpg);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
      <a href="../static/images/Newspaper_Cuttings/FourthClip.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/FourthClip.JPG);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
    </div>
    <div class="d-md-flex">
      <a href="../static/images/Newspaper_Cuttings/FifthCLip.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/FifthCLip.jpg);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
      <a href="../static/images/Newspaper_Cuttings/SixthClip.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/SixthClip.JPG);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
      <a href="../static/images/Newspaper_Cuttings/SeventhClip.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/SeventhClip.jpg);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
      <a href="../static/images/Newspaper_Cuttings/EigthClip.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(../static/images/Newspaper_Cuttings/EigthClip.JPG);">
        <!-- <div class="icon d-flex justify-content-center align-items-center">
          <span ></span>
        </div> -->
      </a>
    </div>
  </div>
</section>
{% endblock %}