{% extends "index.html" %}{% block head %}{{super()}}{% endblock %}
{% block content %}
<div class="hero-wrap" style="background-image: url('../static/images/cause-6.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p> -->
            <h1 class="mb-3 bread font-text title" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Story</h1>
          </div>
        </div>
      </div>
</div>


<!-- WHO WE ARE Section starts -->
<section class="ftco-section " style="background-color:  #f7fad7; padding: 50px 0">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div class="img img-about align-self-stretch" style="background-image: url(../static/images/cause-1.jpg); width: 100%;">
        </div>
      </div>
      <div class="col-md-6 pl-md-5 ftco-animate" style="color: #762f1d;">
        <h2 class="mb-4 font-text gupter-medium">WHO WE ARE</h2>
        <hr style="border-color: #3b1d164d;">
        <p class="gupter-regular">Kohka Foundation emerged out of a pursuit to inspire and support local tribal communities in India, to
          create a generational change.</p>
        <p class="gupter-regular">Established in 2014, we are an unafraid to stand on the frontline in times of need to alleviate the citizens
          of India from crisis and need.</p>
      
        <div class="text-md-right">
          <a href="{{url_for('main.contact')}}" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
      
    </div>
  </div>
</section>
 <!-- WHO WE ARE Section Ends-->



<!-- our journey section starts -->
<section class="ftco-section bg-light" style="padding: 4em 0;">
  <div class="container" >
      <div class="row justify-content-center mb-5 pb-3" >
          <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
                  <div class="d-flex flex-column align-items-center mb-4 p-4" style="background: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); transition: transform 0.3s; height: 100%; text-align: center;">
                      <div class="info">
                          <h3 class="gupter-medium" style="font-size: 1.5em; margin-bottom: 1em;"><b>OUR VISION</b></h3>
                          <div class="text">
                              <p class="gupter-regular" style="font-size: 1em; color: #666; line-height: 1.5;">To create generational change for rural underprivileged and marginalised communities.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
                  <div class="d-flex flex-column align-items-center mb-4 p-4" style="background: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); transition: transform 0.3s; height: 100%; text-align: center;">
                      <div class="info">
                          <h3 class="gupter-medium" style="font-size: 1.5em; margin-bottom: 1em;"><b>OUR MISSION</b></h3>
                          <div class="text">
                              <p class="gupter-regular" style="font-size: 1em; color: #666; line-height: 1.5;">To engage, empower and enrich.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
                  <div class="d-flex flex-column align-items-center mb-4 p-4" style="background: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); transition: transform 0.3s; height: 100%; text-align: center;">
                      <div class="info">
                          <h3 class="gupter-medium" style="font-size: 1.5em; margin-bottom: 1em;"><b>OUR JOURNEY</b></h3>
                          <div class="text">
                              <p class="gupter-regular" style="font-size: 1em; color: #666; line-height: 1.5;">From 2014, we have today covered 2 major cities (Mumbai and Nagpur) and multiple villages across Seoni District, MP.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
 <!-- our journey section ends -->

<!-- founders desk section starts -->
<div style="max-width: 1200px; height: auto; margin: 0 auto; padding: 20px; background-color:  #f7fad7;">
  <section style="background-color:  #f7fad7; padding: 50px; border-radius: 10px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-2 font-text gupter-medium">"From The Founder's Desk"</h2>
          <hr style="border-color: #3b1d164d;">
        </div>
      </div>
      <div style="display: flex; align-items: center;">
          <div class="col-md-6 d-flex ftco-animate">
              <img src="../static/images/AboutUsBg_2.png" alt="Donate Image" style="width: 85%; border-radius: 10px; height: 100%;">
          </div>
          <div style="flex: 1; padding-left: 20px; color: #444;">
              <h3 class="gupter-medium" style="margin-bottom: 20px; color: #f86f2d;">Sanjay Nagar, Founder & Trustee</h3>
              <p class="gupter-regular" style="font-size: 18px; margin-bottom: 10px;">"Working in foreign banks for more than two decades, I quit my job to follow my passion of wildlife and
                photography. That brought me to Pench National Park, Madhya Pradesh."</p>

                <p class="gupter-regular" style="font-size: 18px; margin-bottom: 10px;">"Seeing the poverty of the villagers, broken down government schools and lack of livelihood moved me and I
                  knew I couldn't watch silently. Volunteering in the local government school in Kohka village soon turned
                  into setting up of Kohka Foundation in the span of 3 years."</p>

                  <p class="gupter-regular" style="font-size: 18px; margin-bottom: 10px;">"In Kohka Foundation, my team and I bring to light the causes that we hold the closest to our hearts -
                    secondary education, women's welfare and health, community development and rural employability.
                    <br>
                    With more than 8 years under our belt, I recognise that this is just the beginning of our work."</p>
             
              <!-- <a href="contact.html"><button id="rzp-button1" style="background-color: #762f1d; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;" >Contact US</button></a>     -->
              <a id="rzp-button1" href="{{url_for('main.contact')}}" class="btn btn-primary">Contact Us</a> 
          </div>
      </div>
  </section>
</div>
<!-- founders desk section ends --> 
{% endblock %}
 <!-- footer sections starts -->