{% extends "index.html" %}{% block head %}{{super()}}{% endblock %}
{% block content %}
<div class="hero-wrap" style="background-image: url('../static/images/bg_4.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
         <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p> -->
        <h1 class="mb-3 bread font-text title" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">School Infrastructure</h1>
      </div>
    </div>
  </div>
</div>


<!-- COMMUNITY BUILDINGSection starts -->
<section class="ftco-section " style="background-color:  #fdfdfd; padding: 50px 0">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div class="img img-about align-self-stretch" style="background-image: url(../static/images//schl-infra-img.webp); width: 100%;">
        </div>
      </div>
      <div class="col-md-6 pl-md-5 ftco-animate" style="color: #762f1d;">
        <h2 class="mb-4 font-text gupter-medium">COMMUNITY BUILDING</h2>
        <hr style="border-color: #3b1d164d;">
        <p class="gupter-regular">Education is believed to be the only means for a developing nation like India to develop widely. When schools in rural areas are lacking the basic infrastructure needed, the quality of education drops exponentially.</p>
        <p>Kohka Foundation has so far provided electrical fittings, desks, benches and playground equipment in 5 schools in Kurai Tehsil, Seoni District, Madhya Pradesh.</p>
      
        <div class="text-md-right">
          <a href="donate.html" class="btn btn-primary">Donate</a>
        </div>
      </div>
      
    </div>
  </div>
</section>
 <!-- COMMUNITY BUILDING Section Ends-->

<!-- gallery section starts -->
<section class="ftco-section" style="background-color: beige;">
  <!-- <div class="container-fluid"> -->
    <div class="row justify-content-center mr-2">
      <!-- <div class="col-md-3 heading-section ftco-animate text-center"> -->
        <h1 class="mb-2 font-text gupter-medium"><b>GALLERY</h1>
      </div>
    </div>
    <div class="container con">
      <div class="row">
        <div class="col-md-12 ml-2">
          <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
            <!-- slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/images/schl-infra-img_1.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>
    
              <div class="carousel-item">
                <img src="../static/images/schl-infra-img_2.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>
    
              <div class="carousel-item">
                <img src="../static/images/schl-infra-img_3.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>

            </div>
    
            <!-- Left right -->
            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon "></span>
            </a>
            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
              <span class="carousel-control-next-icon "></span>
            </a>
    
            <!-- Thumbnails -->
            <ol class="carousel-indicators list-inline">
              <li class="list-inline-item active">
                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel">
                  <img src="../static/images/schl-infra-img_1.webp" class="img-fluid">
                </a>
              </li>
    
              <li class="list-inline-item">
                <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                  <img src="../static/images/schl-infra-img_2.webp" class="img-fluid">
                </a>
              </li>
    
              <li class="list-inline-item">
                <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                  <img src="../static/images/schl-infra-img_3.webp"  class="img-fluid">
                </a>
              </li>
             </ol>
          </div>
        </div>
      </div>
    </div>
</section> 

{% endblock %}