{% extends "index.html" %}{% block head %}{{super()}}<link rel="stylesheet" href="{{url_for('static',filename='css/cardSE.css')}}">{% endblock %}
{% block content %}
</nav>
<div class="hero-wrap Secv_edu" style="background-image: url('../static/images/Gallery/Secn_edu.webp');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-left" data-scrollax-parent="true">
      <div class="col-md-8 ftco-animate text-left" data-scrollax=" properties: { translateY: '70%' }">
         <!-- <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Causes</span></p> -->
        <h1 class="mb-3 bread font-text title" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">PROJECT ANANDO</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section"style="background-color:beige">
<div class="container">
  <div class="row d-flex">
    <div class="col-md-6 d-flex ftco-animate">
      <div class="img img-about align-self-stretch w-100" style="background-image: url(../static/images/AboutUsBg_2.png); background-size: cover; background-position: center; min-height: 300px;"></div>
    </div>
    <div class="col-md-6 pl-md-5 ftco-animate">
      <h2 class="mb-4 font-text gupter-medium">Secondary Education</h2>
      <p class="gupter-regular">Our flagship program 'Project Anando' is run in association with Mumbai-based NGO, Light of Life Trust.
                  <br><br>
                  Targeting tribal & underprivileged children from Seoni district, Madhya Pradesh, Anando is a 365-day program. It works towards the holistic development of children in the age group 11 to 18 years through its 3E approach - Educate, Empower & Equip for Employability.
                  <br><br>
                  India has the largest number of school children in the world with a 36% dropout rate between the ages of 11-18 years. These statistics are deeply concerning since the majority of these children hail from rural areas.
                  <br><br>
                  Our attempts lie in providing complete support and guidance to first generation learners - children who are the first members of their families to be educated. Only this will break the vicious cycle of poverty and illiteracy. </p>
          <div class="d-grid gap-2 col-6 mx-auto">
              <p><a href="./donate.html" class="btnfc btnfc-primary px-3 py-2 mt-2">Get In Touch</a></p>
      </div>
</div>
</section>

<section class="ftco-section" style="background-color: #dfcfcb; padding: 50px 0;">
<div class="container bootstrap snippets bootdeys">
  <!-- </div> -->
  <div class="row">
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                  <div class="content">
                    <div><h4 class="title">S.F.S.E.P.</h4>
                    <p class="discription">Refers to Student Friendly Supplementary Education Program. This addresses the special needs of students in Math, English, and Science.</p>
                     </div>                 
                  </div>
              </div> <!-- end card -->
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                  <div class="content">
                    <div><h4 class="title">WEEKEND WORKSHOPS</h3>
                    <p class="discription">Aimed at personality development and building self-confidence. Includes peer group meetings.</p>
                    </div>
                  </div>
              </div> <!-- end card -->
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                  <div class="content">
                    <div><h4 class="title">MAHACHARCHA</h3>
                    <p class="discription">Refers to Student Friendly Supplementary Education Program. This addresses the special needs of students in Math, English, and Science.</p>
                      </div>
                    </div>
              </div> <!-- end card -->
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                  <div class="content">
                    <div><h4 class="title">CAREER GUIDANCE</h4>
                      <p class="discription">Guest lectures and workshops from distinguished individuals from various industries.</p>
                  </div>
                   </div>
              </div> <!-- end card -->
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                  <div class="content">
                    <div><h4 class="title">RECREATIONAL ACTIVITIES</h4>
                    <p class="discription">Annual Day celebrations, Sports Day, and fests at various levels.</p>
                </div>
              </div> <!-- end card -->
          </div>
      </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                  <div class="content">
                      <h4 class="title">INTENSIVE COUNSELLING</h4>
                      <p class="discription">Regular home visits from teachers, PTA meetings and community awareness.</p>
                     </div>
              </div> <!-- end card -->
          </div>
      </div>
  </div>
  </div>
</section>

<section class="ftco-section"style="background-color:beige">
  <!-- <div class="container-fluid"> -->
    <div class="row justify-content-center mb-3 pb-2">
      <div class="col-md-3 heading-section ftco-animate text-center">
        <h1 class="mb-2 gupter-mediumShadow"><mark><b>LATEST ACTIVITIES</b></mark></h1>
      </div>
    </div>
    <div class="container con">
      <div class="row">
        <div class="col-md-12">
          <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
            <!-- slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/images/Gallery/Pic1.1R.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>
    
              <div class="carousel-item">
                <img src="../static/images/Gallery/Pic2.2R.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>
    
              <div class="carousel-item">
                <img src="../static/images/Gallery/Pic3.png" style="width: 540px; height:391px;" alt="Hills">
              </div>
    
              <div class="carousel-item">
                <img src="../static/images/Gallery/Pic4.4R.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>

              <div class="carousel-item">
                <img src="../static/images/Gallery/Pic5.5.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>

              <div class="carousel-item">
                <img src="../static/images/Gallery/Pic1.1R.webp" style="width: 540px; height:391px;" alt="Hills">
              </div>
            </div>
    
            <!-- Left right -->
            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon "></span>
            </a>
            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
              <span class="carousel-control-next-icon "></span>
            </a>
    
            <!-- Thumbnails -->
            <ol class="carousel-indicators list-inline">
              <li class="list-inline-item active">
                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel">
                  <img src="../static/images/Gallery/Pic1.png" class="img-fluid">
                </a>
              </li>
    
              <li class="list-inline-item">
                <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                  <img src="../static/images/Gallery/Pic2.png" class="img-fluid">
                </a>
              </li>
    
              <li class="list-inline-item">
                <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                  <img src="../static/images/Gallery/Pic3.3.png"  class="img-fluid">
                </a>
              </li>
    
               <li class="list-inline-item">
                <a id="carousel-selector-3" data-slide-to="3" data-target="#custCarousel">
                  <img src="../static/images/Gallery/Pic4.png"  class="img-fluid">
                </a>
              </li>
              <li class="list-inline-item">
                <a id="carousel-selector-4" data-slide-to="4" data-target="#custCarousel">
                  <img src="../static/images/Gallery/Pic5.png"  class="img-fluid">
                </a>
              </li>
              <li class="list-inline-item">
                <a id="carousel-selector-5" data-slide-to="5" data-target="#custCarousel">
                  <img src="../static/images/Gallery/Pic1.png"  class="img-fluid">
                </a>
              </li>
             </ol>
          </div>
        </div>
      </div>
    </div>
</section> 
{% endblock %}